* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter",;
}

:root {
    --caramelo: #bf8c36;
    --preto: #000000;
    --cinza: #b4b4b4;
    --marrom: #8e4f26;
    --fundo-site: #bf8c36;
    --branco: #fff;


}
@font-face {
    font-family: Inter;
    src: url(./fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf);
}

body {
    background-color: var(--fundo-site);
}

/* HEADER */
header {
    width: 100%;
    background-color: #8e4f26;
}

header>div.container-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 265px;
    background-color: #8e4f26;
}

.container-flex {
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}

#logo{
    width: 220px;
}
.links{
    
    display: flex;
    align-items: center;
    gap: 55px;
}

.links a{
    font-size: 23px;
    color: #fff;
    text-decoration: none;
}

.links a:hover{
    color: var(--branco);
    border-bottom: 2px solid var(--branco);
}

#icone-barras,
#icone-x,
#menu_botao{
    display: none;
}

.titulo-sobre{
    color: #fff;
    text-align: center;
    padding-bottom: 25px;
   margin: 250px;
   font-size: 40px;
   
   
}

.texto-container{
    color: #fff;
    display: flex;
    justify-content:flex-start;
    margin: 200px;
    text-align: left;
    font-size: 41px;
    
}

.imagem-container{
 margin: 150px;
 margin-top: 0px;
 
}

.imagem-container >img{
     height: 500px;
    }

.imagem-de-paes{
    height: 500px;
  
}
